/* .main-nav{
    background: radial-gradient(circle, rgba(223,33,33,1) 0%, rgba(243,255,0,1) 100%);
    color: white;
} */

.main-nav-foot {
    
    background: linear-gradient(270deg, #f43b3b8b, #ff8c00,#d4c9a0);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/* hover effect on links */
.nav-link{
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  .nav-link::before,
  .nav-link::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  .nav-link::before {
    /* background-color: #54b3d6; */
    background: linear-gradient(270deg, #f90000, #ff8c00,#ffffff);
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .nav-link::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
    /* color: #54b3d6; */
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .nav-link:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .nav-link:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
   .nav-link span {
    display: inline-block;
    transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .nav-link:hover span {
    transform: translate3d(-200%, 0, 0);
  }
  
  /* Presentational Styles */
  body {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    /* line-height:1 ; */
    /* height: 6vh; */
    place-items: center;
  }
  
  .nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight:500;
    vertical-align:bottom ;
  }


  .main-news{
    background: linear-gradient(270deg, #f43b3b8b, #ff8c00,#d4c9a0);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
  }


  /* weather icon  */

 .navlink img:hover{
  width: 43px;
 }