@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

body {
  background: url("https://wallpapersmug.com/download/2560x1440/7a22c5/forest_mountains_sunset_cool_weather_minimalism.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 20px 70px;
  color: #ffffff;
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.date-container {
  font-weight: 100;
}
.date-container .time {
  font-size: 70px;
}

.date-container #am-pm {
  font-size: 30px;
  margin-left: 20px;
}

.date-container .date {
  font-size: 30px;
}

.place-container {
  text-align: end;
}

.place-container .time-zone {
  font-size: 30px;
  font-weight: 100;
}

.place-container .country {
  font-size: 12px;
  font-weight: 700;
}

.current-info .others {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0px #000000;
  display: flex;
  flex-direction: column;
  background: rgba(77, 77, 81, 0.6);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid #ff0000;
  background: linear-gradient(
    to right,
    rgba(255, 166, 0, 0.902),
    rgba(255, 0, 0, 0.857)
  );
  box-shadow: 5px 6px 0px 0px rgba(0, 0, 0, 0.465);
}

.current-info .others .weather-item {
  display: flex;
  justify-content: space-between;
}

.future-forecast {
  /* background: rgba(52, 147, 220, 0.571); */
  background: transparent;
  background-filter:blur(10px);
  padding: 25px;
  position: fixed;
  bottom: 0;
  display: flex;
  color: rgb(255, 255, 255);
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.future-forecast .today {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffc400;
  border-radius: 10px;
  padding: 15px;
  padding-right: 40px;
  border-radius: 10px;
  /* background: rgba(0, 0, 0, 0.21) */
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.509),
    rgba(128, 0, 128, 0.471)
  );
}

.future-forecast .today .day {
  padding: 5px 15px;
  background: #3c3c44;
  border-radius: 50px;
  text-align: center;
  box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.3);
}

.future-forecast .today .temp {
  font-size: 18px;
  padding-top: 15px;
}

.future-forecast .weather-forecast {
  display: flex;
}

.weather-forecast .weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: 1px solid #ff0000;
  padding: 15px;
  border-radius: 10px;
  /* background: rgba(0,0,0,0.2) */
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.509),
    rgba(255, 166, 0, 0.516)
  );
}

.weather-forecast .weather-forecast-item .day {
  padding: 5px 15px;
  background: #3c3c44;
  border-radius: 50px;
  text-align: center;
  box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.379);
}

.weather-forecast .weather-forecast-item .temp {
  font-weight: 100;
  font-size: 12px;
}

@media only screen and (max-width: 730px) {
  .container {
    padding: 20px;
  }

  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }

  .future-forecast .today .temp {
    font-size: 16px;
  }

  .date-container .time {
    font-size: 50px;
  }

  .date-container #am-pm {
    font-size: 20px;
  }

  .date-container .date {
    font-size: 20px;
  }

  .place-container {
    text-align: end;
    margin-top: 15px;
  }

  .place-container .time-zone {
    font-size: 20px;
  }

  .current-info .others {
    padding: 12px;
  }

  .current-info .others .weather-item {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1400px) {
  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-x: scroll;
  }
}
